---
layout: page
title: Sass
excerpt: "Syntactically Awesome Stylesheets - Sass nutzen um CSS zu erweitern und zu managen."
permalink: /workshop/sass/
categories: workshop
theme: trixie
order: 1
---

<h1 class="page__title">Sass</h1>
<p>Ein Crashkurs in SASS.</p>
<nav class="menu--units">
    {% for page in site.pages %}
        {% if page:categories == "sass" %}
            <article class="menu__item  unit theme--trixie">
              {% if page.tags %}
                <ul class="unit__tag-list">
                {% for tag in page.tags %}
                  <li class="unit__tag unit__tag--{{ tag }}">{{ tag }}</li>
                {% endfor %}
                </ul>
              {% endif %}
                <a href="{{ page.url }}" title="{{ page.title }}">
                    <h1 class="unit__title">{{ page.title }}</h1>
                    <div class="unit__description">
                      <p>{{ page.excerpt }}</p>
                    </div>
                </a>
            </article>
        {% endif %}
    {% endfor %}
</nav>
