---
layout: default
title: Module
permalink: /module/
level: top
---

<h1 class="page__title">Module</h1>
<p>Hier werden alle Module, aufbauend aufeinander (in der Reihenfolge in der Sie unterrichtet werden) angezeigt.</p>

<nav class="menu--modules">
    {% assign sorted_pages = (site.pages | sort: 'order') %}
    {% for page in sorted_pages %}
        {% if page:categories == "modul" %}
            <article class="menu__item  module  module-theme--{{ page.theme }}">
                <a href="{{ page.url }}" title="{{ page.title }}">
                    <h1 class="module__title">{{ page.title }}</h1>
                    <div class="module__description">
                        <p>{{ page.excerpt }}</p>
                    </div>
                </a>
            </article>
        {% endif %}
    {% endfor %}
</nav>

<p>Alternativ, sind die Einheiten auch auf <a href="#">GitHub</a> einsehbar.</p>
<h2>Workshops</h2>
<p>Workshops finden außerhalb regulären Unterrichts statt und bieten üblicherweise einen tieferen Einblick in ein Thema.</p>
<nav class="menu--modules">
    {% for page in sorted_pages %}
        {% if page:categories == "workshop" %}
            <article class="menu__item  module  module-theme--{{ page.theme }}">
                <a href="{{ page.url }}" title="{{ page.title }}">
                    <h1 class="module__title">{{ page.title }}</h1>
                    <div class="module__description">
                        <p>{{ page.excerpt }}</p>
                    </div>
                </a>
            </article>
        {% endif %}
    {% endfor %}
</nav>
