<footer class="footer">

<div class="wrapper--base">
    <div class="footer__contact">
        <p>&copy; 2016 Thomas Michael Semmler
            <br><a href="http://opensource.org/licences/MIT">MIT Lizenz</a></p>
        <p>Dieses Projekt liegt auf <a href="https://github.com/nachtfunke/sae_skriptum" target="_blank">Github</a>.</p>
    </div>
    <div class="footer__disclaimer">
        <p>Hast du einen Fehler entdeckt, oder hast du einen Egänzungsvorschlag? Oder einfach nur Fragen zum Thema? Dann schreibe mir eine Mail: <a href="mailto:sae@thomassemmler.com">sae@thomassemmler.com</a></p>
    </div>
</div>

</footer>
<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Work+Sans:400,300,600:latin', 'Source+Code+Pro:400,600:latin', 'Source+Sans+Pro:600,400,300italic,300' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>
