.menu {
    &:hover {
        opacity: 1;
    }
    &__item {
        display: inline-block;
        & + & {
            margin-left: 1ch;
        }
    }
    &--main {
        @extend .menu;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        .menu {
            &__item {
                @extend %font-main;
                font-weight: 400;
                background-color: #fff;
                line-height: 1;
                padding: 1ch;
                margin: 0.25em;
                color: color(primary);
                border-radius: 3px;
                @include breakpoint(smaller) {
                    margin: 0 0.25em;
                }
                @include breakpoint(regular) {
                    background-color: transparent;
                    color: color(dark);
                    font-weight: 400;
                    padding: 1em;
                    margin: 0;
                    border-radius: 0;
                    //border-top: 2px solid currentcolor;
                    border-bottom: 2px solid transparentize(color(dark), 0.9);
                }
                &.active, &:hover {
                    @include breakpoint(regular) {
                        border-bottom-color: color(dark);
                    }
                }
                &.active {
                    font-weight: 600;
                }
            }
        }
    }
    &--modules {
        @extend .menu;
        @include breakpoint(tablet) {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: stretch;
        }
        .menu {
            &__item {
                display: block;
                @include breakpoint(tablet) {
                    flex-basis: span(6 of 12);
                    margin-bottom: 1em;
                    opacity: 0.8;
                    transition: opacity 0.15s ease;
                    &:hover {
                      opacity: 1;
                    }
                }
                & + .menu__item {
                    margin-left: 0;
                    margin-top: 1em;
                    @include breakpoint(tablet) {
                        margin-top: 0;
                    }
                }
            }
        }
    }
    &--units {
        @extend .menu--modules;
        counter-reset:  unit;
        .menu {
            &__item {
                transition: transform .45s cubic-bezier(0.76, 0.01, 0.3, 1.02), box-shadow .45s cubic-bezier(0.76, 0.01, 0.3, 1.02);
                opacity: 1;
                @include breakpoint(tablet) {
                  flex-basis: 100%;
                }
                &.unit--minisprint {
                  flex-basis: calc(100% - 4em);
                  margin-left: auto;
                  margin-right: auto;
                }
                &:hover {
                    @include breakpoint(regular) {
                        transform: translateY(-0.5em);
                        @include card-shadow(3);
                    }
                }
            }
        }
    }
}
