.module {
    @include module;
    &-theme {
        @each $color-name, $color-value in $colors {
            $modifier: str-replace(#{$color-name}, 'theme-');
            &--#{$modifier} {
                background-color: $color-value;
                color: $color-value;
            }
        }
    }
}
