.module {
    border-left: 2px solid currentcolor;
    padding: 1em;
    @include card-shadow(1);
    &__title {
        color: currentcolor;
        font-size: 1.25em;
        font-weight: 600;
        line-height: 1;
    }
    p {
        font-size: 0.85em;
        letter-spacing: -0.075ch;
    }
    &-theme {
        &--carrot {
            color: color(theme-carrot)
        }
        &--grape {
            color: color(theme-grape);
        }
    }
}
