.post {
  padding-right: 4em;
    &--listed {
        & > a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5em 0;
        }
        .post {
            &__date {
                margin-top: 0;
                @include breakpoint(tablet) {
                    flex-basis: span(2 of 12);
                }
            }
            &__title {
                background-color: transparent;
                display: block;
                line-height: normal;
                font-size: 1em;
                text-align: left;
                @include breakpoint(tablet) {
                    flex-basis: span(10 of 12);
                }
            }
        }
        &-small {
          margin-bottom: 1em;
          .post__title {
              background-color: transparent;
              font-size: 0.85em;
              display: block;
              text-align: left;
              color: color(primary);
              padding-bottom: 1rem;
              border-bottom: 2px dotted color(bg);
              transition: transform .25s ease-in-out;
          }
          &:hover .post__title {
            transform: translateX(1em);
          }
        }
    }
    &__header {

    }
    &__meta {
      background-color: color(bg);
      border-radius: 10px;
      padding: 1em;
      p {
        font-size: 0.8em !important;
        font-style: italic;
      }
    }
    &__title {
        text-align: center;
        margin-top: 1em;
        background-color: color(bright);
        display: inline;
        line-height: 1.5;
        @include breakpoint(regular) {
            margin-top: 0;
        }
    }
    &__date {
        @extend %font-code;
        font-size: 0.85rem;
        display: block;
        margin-top: 1em;
        color: color(primary);
    }
    &__intro {
      font-size: 1.1em;
      font-style: italic;
      color: color(primary);
    }
    &__content {
        margin-top: 2em;
        & > * + * {
            margin-top: 1.5em;
        }
    }
}
