/* =============================================================================
	Base

	This is the Place for Element selectors

	========================================================================== */

	body, html {
		color: color(dark);
		background-color: color(bg);
		@extend %font-main;
	}

	img {
		max-width: 100%;
	}

	hr {
		height: 1px;
		border: 0;
		background-color: currentcolor;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;
		& + * {
			margin-top: 1em;
		}
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.25em;
	}

	h4 {
		font-size: 1em;
	}

	h5 {
		font-size: 0.75em;
		text-transform: uppercase;
	}

	h6 {
		font-size: 0.8em;
		border-bottom: 1px dotted currentcolor;
	}

	p, li {
		@extend %font-text;
		font-weight: 300;
		line-height: 1.5;
		color: color(dark);
	}

	li {
		list-style: none;
	}

	em {
		font-style: italic;
	}

	strong {
		font-weight: 700;
	}
