/* =============================================================================
	Settings

	Sass-Maps for further functions or mixins, variables, etc.

	Default Color Theme "Japanese Tomato" by h.miyata from Adobe Color CC: https://color.adobe.com/Japanese-Tomato-color-theme-276621/

	========================================================================== */

	/* ====== Colors ====== */
	$colors: (
		primary:		#3b4494,
		secondary:		#8eda55,
		theme-carrot: 	#8eda55,
		theme-grape: 	#6845a3,
		theme-tomato: 	#3ec292,
		bright: 		#ffeb66,
		dark:			#333,
		bg:				#f5f5f5
	);


	/* ====== Breakpoints ====== */
	$breakpoints: (
		big:		1140px,
		regular:	1024px,
		small:		960px,
		tablet: 	768px,
		smaller:	480px
	);


	/* ====== Configurations for susy 2.x.x (http://susydocs.oddbird.net/en/latest/settings/) ====== */
	$susy: (
		columns:	12,
	);


	/* ====== Font-Placeholder-Classes ====== */
	%font-main {
		font-family: 'Work Sans', sans-serif;
	}
	%font-text {
		font-family: 'Source Sans Pro', sans-serif;
	}
	%font-code {
		font-family: 'Source Code Pro', monospace;
	}
