/* =============================================================================
	Tools

	This is the place for functions and mixins.

	========================================================================== */

	// This function generates a color() function, based on the colors in $colors
	@function color($name) {
		@return map-get($colors, $name);
	}

	// Breakpoint mixin; It makes use of the breakpoints defined in $breakpoints
	@mixin breakpoint($point) {
		@each $name, $pixels in $breakpoints {
			@if $name == $point {
				@media (min-width: $pixels) { @content; }
			}
		}
	}

	// Custom breakpoint mixin
	@mixin custom_breakpoint($point) {
		@media (min-width: $point) { @content; }
	}

	// Good old clearfix
	@mixin clearfix() {
	    & {
	        *zoom: 1;
	    }
	    &:before,
	    &:after {
	        content: "";
	        display: table;
	    }
	    &:after {
	        clear: both;
	    }
	}

	// Material Design Shadows
	@mixin card-shadow($depth: 1) {
		@if $depth == 1 {
			box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.16), 0 1.5px 6px rgba(0, 0, 0, 0.08);
		} @else if $depth == 2 {
			box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16), 0 3px 12px rgba(0, 0, 0, 0.10);
		} @else if $depth == 3 {
			box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16), 0 10px 40px rgba(0, 0, 0, 0.12);
		} @else if $depth == 4 {
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16), 0 14px 56px rgba(0, 0, 0, 0.16);
		} @else if $depth == 5 {
			box-shadow: 0 15px 24px rgba(0, 0, 0, 0.16), 0 19px 76px rgba(0, 0, 0, 0.25);
		}
	}

	/* -----
	SVG Icons - svgicons.sparkk.fr
	----- */

	.svg-icon {
	  width: 1em;
	  height: 1em;
	}

	.svg-icon path,
	.svg-icon polygon,
	.svg-icon rect {
	  fill: currentcolor;
	}

	.svg-icon circle {
	  stroke: currentcolor;
	  stroke-width: 1;
	}
