---
layout: page
title: Mobile Devices
excerpt: "Responsive Webdesign, mobile first, progressive enhancement und Arbeiten mit modernen Layout Techniken."
permalink: /module/mobile_devices/
categories: modul
theme: grape
order: 1
---

<h1 class="page__title">Mobile Devices</h1>
<p>In "Mobile Devices" geht es um responsive Webdesign, aktuelle Best Practice und zukunftssichere Layout-Techniken in der Webentwicklkung für mobile Endgeräte.</p>
<nav class="menu--units">
    {% for page in site.pages %}
        {% if page:categories == "mobile_devices" %}
            <article class="menu__item  unit theme--grape">
                <a href="{{ page.url }}" title="{{ page.title }}">
                    <h1 class="unit__title">{{ page.title }}</h1>
                    <p>{{ page.excerpt }}</p>
                </a>
            </article>
        {% endif %}
    {% endfor %}
</nav>
