---
layout: page
title: Frontend Advanced
excerpt: Automatisierung und Effizienzsteigerung von Arbeitschritten - Arbeiten mit Methodologien, Frameworks, Pre- & Postprozessoren und Taskrunnern.
permalink: /module/frontend_advanced/
categories: modul
theme: carrot
order: 1
---

<h1 class="page__title">Frontend Advanced</h1>
<p>In "Frontend Advanced" geht es um Automatisierung und Optimierung von Arbeitsschritten.</p>
<nav class="menu--units">
    {% for page in site.pages %}
        {% if page:categories == "frontend_advanced" %}
            <article class="menu__item  unit theme--carrot">
                <a href="{{ page.url | prepend: site.url }}" title="{{ page.title }}">
                    <h1 class="unit__title">{{ page.title }}</h1>
                    <p>{{ page.excerpt }}</p>
                </a>
            </article>
        {% endif %}
    {% endfor %}
</nav>
