.header {
    //background-color: #fff;
    padding: 1em;
    @include breakpoint(regular) {
        background-color: color(bright);
        padding: 0;
        position: relative;
    }
    &:after {
        @include breakpoint(regular) {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 33%;
            background-color: color(bright);
            transform: translateY(50%) skewY(-3deg);
            //transition: transform .3s ease-in-out 5s;
        }
    }
    &__logo {
        font-size: 1.25em;
        font-weight: 600;
        color: color(primary);
        @include breakpoint(regular) {
            color: color(bright);
            font-size: 2em;
        }
        a {
            background-color: color(bright);
            display: inline-block;
            padding: 0.5ch;
            transform: rotate(-3deg);
            //transition: transform .3s ease-in-out 5s;
            @include breakpoint(regular) {
                background-color: color(dark);
            }
        }
        .text, .icon {
            vertical-align: middle;
            display: inline-block;
            height: 1em;
        }
        .icon {
            padding-left: 1ch;
        }
    }
    &__navigation {
        text-align: center;
    }
}
